# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea
.vscode
.code
.*pyc
__pycache__
*.bin
04-perceptron/test.ipynb
04-perceptron/multi_layer.py
